.rank-container {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.rank-list {
  list-style-type: decimal;
  padding-left: 20px;
  font-family: "Nanum", sans-serif;
  color: #333;
}

.rank-word {
  background-color: rgb(153, 209, 247);
  border-radius: 25px;
  padding: 10px;
  margin-left: -15px;
  margin-bottom: 5px;
  list-style: none;
}
