.wordcloud-rank-wrapper {
  display: flex;
  width: 95%;
  height: 66%;
  margin: 20px auto;
  margin-bottom: -20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 25px;
  gap: 30px;
  justify-content: space-between;
  overflow: hidden; /* 자식 컴포넌트가 밖으로 나가지 않도록 설정 */
}

.wordcloud-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden; /* WordCloud 컴포넌트의 내용이 넘치지 않도록 설정 */
}

.rank-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
