.wordcloud-rank-wrapper {
  display: flex;
  width: 100%;
  height: 66%;
  margin: 0px auto;
  padding-top: 40px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 25px;
  gap: 170px;
  justify-content: center;
  overflow: hidden; /* 자식 컴포넌트가 밖으로 나가지 않도록 설정 */
  font-family: "hana", sans-serif;
  position: relative; /* 체크박스의 위치를 위한 설정 */
}

.checkbox-container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

input[type="radio"] {
  display: none;
}

label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.positive-circle {
  background-color: #316dec; /* 파란색 */
}

.neutral-circle {
  background-color: #0f9b0f; /* 초록색 */
}

.negative-circle {
  background-color: #e93434; /* 빨간색 */
}

input[type="radio"]:checked + label {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}
