@font-face {
  font-family: "hana";
  src: url("./components/fonts/hana.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 20px 40px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(241, 245, 253);
}

.default-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 150px);
  height: calc(100vh - 150px);
  margin: 0 auto;
}

.default-img {
  width: 150px;
  height: auto;
  margin-bottom: -50px;
}

.default-text {
  font-family: "Nanum", "sans-serif";
  font-size: 1.2em;
  color: #333;
}

/* Grid 컨테이너 설정 */
.grid-container {
  display: grid;
  margin-left: 120px;
  grid-template-columns: 30% 66%;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 90%;
  box-sizing: border-box;
  align-items: start;
}

.wordcloud-rank {
  grid-column: 1 / span 2;
  width: 100%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 8px 1px rgba(0, 0, 0, 0.2);
}

/* PieChart와 LineGraph를 동일한 row에 배치 */
.charts-container {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row; /* 가로 배치 */
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  align-items: flex-start; /* 상단 정렬 */
  margin-top: 100px;
  margin-bottom: 30px;
}

.pie-chart {
  width: 33%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0.5px 0.5px 8px 1px rgba(0, 0, 0, 0.2);
}

.line-graph {
  width: 67%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0.5px 0.5px 8px 1px rgba(0, 0, 0, 0.2);
}

.comments-section {
  grid-column: 1 / span 2;
  width: 100%;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  margin-top: 100px;
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 8px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* 자식 컴포넌트가 영역을 벗어나지 않도록 설정 */
}
